#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 15px;
}
#textbox
{
    width: 300px;
}

h1
{
    font-family: 'Ubuntu', sans-serif;
}

h2
{
    font-family: 'Ubuntu', sans-serif;
}

h3
{
    font-family: 'Ubuntu', sans-serif;
}

h4
{
    font-family: 'Ubuntu', sans-serif;
}

h5
{
    font-family: 'Ubuntu', sans-serif;
}

h6
{
    font-family: 'Ubuntu', sans-serif;
}

p
{
    font-family: 'Ubuntu', sans-serif;
}

button
{
    font-family: 'Ubuntu', sans-serif;
}

label
{
    font-family: 'Ubuntu', sans-serif;
}

body
{
    background-image: url("Voice.png");
}